<h2 class="text-center mb-4">Вход</h2>

<form>
  <div class="mb-3">
    <input nz-input type="tel" placeholder="Ваш номер" />
  </div>
  <div>
    <input nz-input type="password" placeholder="Ваш пароль" />
  </div>
</form>

<div class="row justify-content-center mt-4">
  <div class="col-auto">
    <button nz-button>Войти</button>
  </div>
</div>

<div class="mt-3">
  <div class="row justify-content-between align-items-center">
    <div class="col-auto">
      <a
        nz-button
        nzType="link"
        style="padding: 0"
        [routerLink]="['/authorization', 'registration']"
      >
        Регистрация
      </a>
    </div>
    <div class="col-auto">
      <a
        nz-button
        nzType="link"
        style="padding: 0"
        [routerLink]="['/authorization', 'recovery']"
      >
        Забыли пароль ?
      </a>
    </div>
  </div>
</div>
