<header class="header">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-between">
      <div class="col-auto">
        <div class="row align-items-center gx-1">
          <div class="col-auto">
            <button nzType="text" nz-button (click)="toggleVisibleSidebar()">
              <i nz-icon nzType="menu" nzTheme="outline"></i>
            </button>
          </div>
          <div class="col-auto">
            <button nzType="text" nz-button>
              <i nz-icon nzType="home" nzTheme="outline"></i>
            </button>
          </div>
          <div class="col-auto d-none d-md-block ps-2">
            <nz-input-group [nzSuffix]="suffixIconSearch">
              <input type="text" nz-input placeholder="Искать задачу" />
            </nz-input-group>
            <ng-template #suffixIconSearch>
              <i nz-icon nzType="search"></i>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <div class="row align-items-center gx-1">
          <div class="col-auto">
            <button nz-button nzType="text" (click)="openModal()">
              <i nz-icon nzType="plus" nzTheme="outline"></i>
            </button>
          </div>
          <div class="col-auto">
            <button nz-button nzType="text" (click)="openModal()">
              <i nz-icon nzType="bell" nzTheme="outline"></i>
            </button>
          </div>
          <div class="col-auto ps-2">
            <nz-avatar
              [routerLink]="['/authorization']"
              nzIcon="user"
            ></nz-avatar>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<aside>
  <nz-drawer
    [nzClosable]="false"
    nzPlacement="left"
    nzWidth="250px"
    [(nzVisible)]="sidebarVisible"
    (nzOnClose)="toggleVisibleSidebar()"
  >
    <ng-container *nzDrawerContent>
      <ul class="list">
        <li>
          <button
            nz-button
            [routerLink]="['/tasks']"
            (click)="toggleVisibleSidebar(false)"
          >
            <i
              nz-icon
              nzType="inbox"
              nzTheme="outline"
              style="color: #246fe0"
            ></i>
            Входящие
          </button>
        </li>
      </ul>
    </ng-container>
  </nz-drawer>
</aside>

<main class="container">
  <router-outlet></router-outlet>
</main>
