.header {
  padding: 5px 0;
  background: #262626;
  position: relative;
  z-index: 1111;
  box-shadow: 0 0 2px #000;
}

.list {
  padding: 2px 0;
  margin: 0;
  list-style-type: none;

  li {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  button {
    width: 100%;
    text-align: left;
  }
}
