<div *nzModalTitle>
  <nz-tag>
    {{ (task$ | async)?.createdAt | date: "dd MMMM yyyy" }}
  </nz-tag>
</div>

<div class="wrapper" *ngIf="task$ | async as task">
  <app-task [task]="task" [isRoot]="false"></app-task>

  <nz-divider></nz-divider>

  <div class="row">
    <div class="col-auto">
      <nz-statistic
        class="statistic-task"
        nzTitle="Дата создания"
        [nzValue]="(task.createdAt | date: 'dd MMMM yyyy, hh:mm:ss')!"
      ></nz-statistic>
    </div>
    <div class="col-auto" *ngIf="task?.updatedAt">
      <nz-statistic
        class="statistic-task"
        nzTitle="Последние изменение"
        [nzValue]="(task.updatedAt | date: 'dd MMMM yyyy, hh:mm:ss')!"
      ></nz-statistic>
    </div>
  </div>

  <nz-divider></nz-divider>

  <div class="task-tabs">
    <nz-tabset>
      <nz-tab nzTitle="Tab 1">Content of Tab Pane 1</nz-tab>
      <nz-tab nzTitle="Tab 2">Content of Tab Pane 2</nz-tab>
      <nz-tab nzTitle="Tab 3">Content of Tab Pane 3</nz-tab>
    </nz-tabset>
  </div>
</div>
