.wrapper {
  padding: 0 5px;
}

.task {
  cursor: pointer;

  .title {
    font-size: 14px;
    line-height: 21px;
    word-wrap: break-word;
  }

  .description {
    font-size: 12px;
    color: gray;
    word-wrap: break-word;
  }

  .checkbox {
    margin-top: 5px;
  }
}
