<div class="list-wrapper" *ngIf="tasks$ | async as tasks">
  <button
    nz-button
    nz-dropdown
    nzType="text"
    nzTrigger="click"
    [nzDropdownMenu]="menu"
  >
    Сортировать
    <i nz-icon nzType="down"></i>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-submenu nzTitle="Сортировка">
          <ul>
            <li
              nz-menu-item
              *ngFor="let item of sortMenu"
              (click)="updateQueryParams('sort', item.type)"
            >
              <i nz-icon [nzType]="item.icon" nzTheme="outline"></i>
              <span class="ms-2">{{ item.label }}</span>
            </li>
          </ul>
        </li>
      </ul>
    </nz-dropdown-menu>
  </button>

  <nz-divider></nz-divider>

  <nz-empty *ngIf="!total && !adding" [nzNotFoundContent]="emptyRef">
    <ng-template #emptyRef>
      <span>Задач нет</span>
    </ng-template>
  </nz-empty>

  <ul class="list" cdkDropList (cdkDropListDropped)="drop($event, tasks)">
    <li *ngFor="let task of tasks">
      <app-task [task]="task"></app-task>
    </li>
  </ul>

  <div *ngIf="adding; else btn">
    <app-edit-task (approve)="setAdding(false)" *ngIf="adding"></app-edit-task>
  </div>

  <ng-template #btn>
    <nz-divider></nz-divider>
    <button nz-button nzType="text" (click)="setAdding(true)">
      <app-svg color="#ff7066" svg="plus"></app-svg>
      Добавить задачу
    </button>
  </ng-template>

  <ng-container *ngIf="sections$ | async as sections">
    <div class="collapse-tasks" *ngIf="sections?.length">
      <nz-divider></nz-divider>

      <app-section [sections]="(sections$ | async) || []"></app-section>
    </div>
  </ng-container>

  <app-section-create></app-section-create>
</div>
