.task {
  position: relative;
  cursor: pointer;

  &:hover {
    .header::after {
      opacity: 1;
      z-index: 10;
    }

    .controllers {
      opacity: 1;
    }
  }

  .title {
    font-size: 14px;
    line-height: 21px;
    word-wrap: break-word;
  }

  .description {
    font-size: 12px;
    color: gray;
    word-wrap: break-word;
  }

  .controllers {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    z-index: 20;
    background-image: linear-gradient(
      90deg,
      rgba(31, 31, 31, 0) 0,
      #1f1f1f 16px 100%
    );
    padding-left: 20px;

    & > * {
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .checkbox {
    margin-top: 5px;
  }
}
