<div class="task" #taskRef cdkDrag>
  <form [formGroup]="form">
    <ng-container *ngIf="isEditing; else static">
      <app-edit-task
        [id]="task.id"
        (approve)="setIsEditing(false)"
      ></app-edit-task>
    </ng-container>

    <ng-template #static>
      <div class="row gx-3" (click)="createTaskViewModal()">
        <div class="col-auto">
          <label nz-checkbox formControlName="checked"></label>
        </div>
        <div class="col">
          <div class="position-relative">
            <p class="title">{{ task.title }}</p>
            <p class="description">{{ task.content }}</p>

            <div class="controllers">
              <button
                nz-button
                icon-svg
                nzType="text"
                nzSize="small"
                (click)="setIsEditing(true)"
              >
                <app-svg svg="pen" fontSize="14px"></app-svg>
              </button>
              <button
                nz-button
                icon-svg
                nzType="text"
                nzSize="small"
                (click)="removeTask()"
              >
                <app-svg svg="trash" fontSize="14px"></app-svg>
              </button>
            </div>
          </div>
          <div class="row align-items-end justify-content-between mt-2">
            <div class="col-auto">
              <nz-date-picker
                nzAllowClear
                nzFormat="dd MMMM yyyy"
                nzPlaceHolder="Событие"
                formControlName="deadlineAt"
                (click)="$event.stopPropagation()"
                [ngClass]="{
                  deadline: deadline,
                  hideIcons: !form.value.deadlineAt
                }"
              ></nz-date-picker>
            </div>
            <div class="col-auto">
              <div class="row gx-2">
                <div class="col-auto" *ngIf="mark$ | async as mark">
                  <nz-tag>
                    <app-svg
                      [color]="mark.icon?.color || 'gray'"
                      [svg]="mark.icon?.type || 'circle'"
                    ></app-svg>
                    {{ mark.title }}
                  </nz-tag>
                </div>
                <div class="col-auto" *ngIf="section$ | async as section">
                  <nz-tag>
                    <app-svg svg="section"></app-svg>
                    {{ section.title }}
                  </nz-tag>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </form>
  <ng-container *ngIf="isRoot && !isEditing">
    <div class="drag-selector" cdkDragHandle>
      <app-svg svg="grip-vertical" fontSize="20px"></app-svg>
    </div>
    <div
      *cdkDragPlaceholder
      class="example-custom-placeholder"
      [ngStyle]="{ minHeight: minHeight + 'px' }"
    ></div>
  </ng-container>
</div>
