<div class="task">
  <form [formGroup]="form">
    <ng-container *ngIf="isEditing; else static">
      <app-edit-task
        [id]="task.id"
        (approve)="setIsEditing(false)"
      ></app-edit-task>
    </ng-container>

    <ng-template #static>
      <div class="row gx-3" (click)="createTaskViewModal()">
        <div class="col-auto">
          <label nz-checkbox formControlName="checked"></label>
        </div>
        <div class="col">
          <div class="position-relative">
            <p class="title">{{ task.title }}</p>
            <p class="description">{{ task.content }}</p>

            <div class="controllers">
              <button nz-button nzType="text" (click)="setIsEditing(true)">
                <i nz-icon>
                  <svg>
                    <use xlink:href="/assets/sprites.svg#pen"></use>
                  </svg>
                </i>
              </button>
              <button nz-button nzType="text" (click)="removeTask()">
                <i nz-icon>
                  <svg>
                    <use xlink:href="/assets/sprites.svg#trash"></use>
                  </svg>
                </i>
              </button>
            </div>
          </div>
          <div class="row align-items-end justify-content-between mt-1">
            <div class="col-auto">
              <nz-date-picker
                nzAllowClear
                nzFormat="dd MMMM yyyy"
                nzPlaceHolder="Событие"
                formControlName="deadlineAt"
                (click)="$event.stopPropagation()"
                [ngClass]="{ deadline: deadline }"
              ></nz-date-picker>
            </div>
            <div class="col-auto" *ngIf="mark$ | async as mark">
              <nz-tag class="mark-task">
                <i nz-icon [ngStyle]="{ color: mark.icon?.color || 'gray' }">
                  <svg>
                    <use
                      [attr.xlink:href]="
                        '/assets/sprites.svg#' + (mark.icon?.type || 'circle')
                      "
                    ></use>
                  </svg>
                </i>
                {{ mark.title }}
              </nz-tag>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </form>
</div>
