<nz-collapse nzGhost>
  <nz-collapse-panel
    *ngFor="let section of sections"
    [nzHeader]="section.title"
    [nzExtra]="extraTpl"
  >
    <ul class="list">
      <li *ngFor="let task of getTasks(section) | async">
        <app-task [task]="task"></app-task>
      </li>
    </ul>

    <ng-template #extraTpl>
      <button
        nz-button
        nz-dropdown
        icon-svg
        nzType="text"
        nzTrigger="click"
        [nzDropdownMenu]="menu"
        (click)="$event.stopPropagation()"
      >
        <app-svg svg="ellipsis-vertical"></app-svg>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item>
              <app-svg svg="pen" fontSize="14px"></app-svg>
              <span class="ms-2">Редактировать</span>
            </li>
            <li
              nz-menu-item
              nz-popconfirm
              (nzOnConfirm)="deleteSection(section.id)"
              nzPopconfirmTitle="Вы точно хотите удалить раздел ?"
            >
              <app-svg svg="trash" fontSize="14px" color="#ff7066"></app-svg>
              <span class="ms-2">Удалить</span>
            </li>
          </ul>
        </nz-dropdown-menu>
      </button>
    </ng-template>
  </nz-collapse-panel>
</nz-collapse>
