<div class="edit-filed">
  <form [formGroup]="form">
    <textarea
      #titleRef
      nz-input
      autofocus
      formControlName="title"
      placeholder="Название задачи"
      (keydown)="onKeydown($event)"
      class="input edit-filed-title"
      [nzAutosize]="{ minRows: 1, maxRows: 6 }"
    ></textarea>
    <textarea
      nz-input
      formControlName="content"
      placeholder="Описание задачи"
      class="input edit-filed-content"
      [nzAutosize]="{ minRows: 1, maxRows: 6 }"
    ></textarea>
    <div class="row align-items-end justify-content-between gx-3">
      <div class="col-auto">
        <nz-date-picker
          nzAllowClear
          nzFormat="dd MMMM yyyy"
          nzPlaceHolder="Событие"
          formControlName="deadlineAt"
          [ngClass]="{ hideIcons: !form.value.deadlineAt }"
        ></nz-date-picker>
      </div>
      <div class="col-auto">
        <div class="row gx-2">
          <div class="col-auto">
            <app-select-icon
              placeholder="Тег"
              formControlName="markId"
              (createNewOption)="addNewMark($event)"
              [options]="(markOptions$ | async) || []"
            ></app-select-icon>
          </div>
          <div class="col-auto">
            <app-select-icon
              placeholder="Раздел"
              formControlName="sectionId"
              (createNewOption)="addNewSection($event)"
              [options]="(sectionOptions$ | async) || []"
            ></app-select-icon>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="row align-items-center gx-2 mt-3">
  <ng-container *ngIf="id; else addBtn">
    <div class="col-auto">
      <button
        nzDanger
        nz-button
        [disabled]="!form.valid"
        (click)="updateTask()"
      >
        Сохранить
      </button>
    </div>
  </ng-container>
  <ng-template #addBtn>
    <div class="col-auto">
      <button
        nzDanger
        nz-button
        [disabled]="!form.valid"
        (click)="addNewTask()"
      >
        Добавить
      </button>
    </div>
  </ng-template>
  <div class="col-auto">
    <button nz-button (click)="cancel()">Отмена</button>
  </div>
</div>
