<div class="edit-filed">
  <form [formGroup]="form">
    <textarea
      #titleRef
      nz-input
      autofocus
      formControlName="title"
      placeholder="Название задачи"
      (keydown)="onKeydown($event)"
      class="input edit-filed-title"
      [nzAutosize]="{ minRows: 1, maxRows: 6 }"
    ></textarea>
    <textarea
      nz-input
      formControlName="content"
      placeholder="Описание задачи"
      (keydown)="onKeydown($event)"
      class="input edit-filed-content"
      [nzAutosize]="{ minRows: 1, maxRows: 6 }"
    ></textarea>
    <div class="row align-items-end justify-content-between gx-3">
      <div class="col-auto">
        <nz-date-picker
          nzAllowClear
          nzFormat="dd MMMM yyyy"
          nzPlaceHolder="Событие"
          formControlName="deadlineAt"
        ></nz-date-picker>
      </div>
      <div class="col-auto">
        <div class="row gx-2">
          <div class="col-auto">
            <nz-select
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Тег"
              style="width: 134px"
              formControlName="markId"
              [nzDropdownMatchSelectWidth]="false"
              [nzDropdownRender]="renderTemplate"
            >
              <nz-option
                nzCustomContent
                [nzValue]="mark.id"
                [nzLabel]="mark.title"
                *ngFor="let mark of marks$ | async"
              >
                <i nz-icon [ngStyle]="{ color: mark.icon?.color || 'gray' }">
                  <svg>
                    <use
                      [attr.xlink:href]="
                        '/assets/sprites.svg#' + (mark.icon?.type || 'circle')
                      "
                    ></use>
                  </svg>
                </i>
                {{ mark.title }}
              </nz-option>
              <ng-template #renderTemplate>
                <div class="mx-1 mt-1">
                  <div class="row g-0">
                    <div class="col">
                      <input
                        nz-input
                        type="text"
                        #inputElement
                        placeholder="Добавить проект"
                      />
                    </div>
                    <div class="col-auto">
                      <button
                        nz-button
                        nzType="text"
                        (click)="addNewMark(inputElement)"
                      >
                        <i nz-icon>
                          <svg>
                            <use xlink:href="/assets/sprites.svg#plus"></use>
                          </svg>
                        </i>
                      </button>
                    </div>
                  </div>
                </div>
              </ng-template>
            </nz-select>
          </div>
          <div class="col-auto">
            <nz-select
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Раздел"
              style="width: 134px"
              formControlName="sectionId"
              [nzDropdownMatchSelectWidth]="false"
              [nzDropdownRender]="sectionTemplate"
            >
              <nz-option
                nzCustomContent
                [nzValue]="section.id"
                [nzLabel]="section.title"
                *ngFor="let section of sections$ | async"
              >
                <i nz-icon>
                  <svg>
                    <use xlink:href="/assets/sprites.svg#section"></use>
                  </svg>
                </i>
                {{ section.title }}
              </nz-option>
              <ng-template #sectionTemplate>
                <div class="mx-1 mt-1">
                  <div class="row g-0">
                    <div class="col">
                      <input
                        nz-input
                        type="text"
                        #inputElement
                        placeholder="Добавить раздел"
                      />
                    </div>
                    <div class="col-auto">
                      <button
                        nz-button
                        nzType="text"
                        (click)="addNewSection(inputElement)"
                      >
                        <i nz-icon>
                          <svg>
                            <use xlink:href="/assets/sprites.svg#plus"></use>
                          </svg>
                        </i>
                      </button>
                    </div>
                  </div>
                </div>
              </ng-template>
            </nz-select>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="row align-items-center gx-2 mt-3">
  <ng-container *ngIf="id; else addBtn">
    <div class="col-auto">
      <button
        nzDanger
        nz-button
        [disabled]="!form.valid"
        (click)="updateTask()"
      >
        Сохранить
      </button>
    </div>
  </ng-container>
  <ng-template #addBtn>
    <div class="col-auto">
      <button
        nzDanger
        nz-button
        [disabled]="!form.valid"
        (click)="addNewTask()"
      >
        Добавить
      </button>
    </div>
  </ng-template>
  <div class="col-auto">
    <button nz-button (click)="cancel()">Отмена</button>
  </div>
</div>
