.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 0;
  border-radius: 5px;

  &_size {
    &-sm {
      padding: 5px 10px;

      & > *:nth-child(2) {
        margin-left: 8px;
      }

      i {
        font-size: 11px;
      }

      span {
        font-size: 12px;
      }
    }

    &-md {
      padding: 8px 16px;

      & > *:nth-child(2) {
        margin-left: 10px;
      }

      i {
        font-size: 14px;
      }

      span {
        font-size: 16px;
      }
    }

    &-icon {
      width: 28px;
      height: 28px;

      i {
        font-size: 14px;
      }
    }
  }

  &_type {
    &-gray {
      color: #fff;
      background: #5e5e5e25;

      &:hover {
        background: #0202023d;
      }
    }

    &-gray-hover {
      color: #fff;
      background: transparent;

      &:hover {
        background: #0202023d;
      }
    }
  }

  &_color {
    &-white span {
      color: #fff;
    }

    &-red span {
      color: #ff7066;
    }

    &-gray span {
      color: #8b8b8b;
    }

    &-blue span {
      color: #246fe0;
    }

    &-green span {
      color: #25b84c;
    }
  }

  &_icon-color {
    &-white i {
      color: #fff;
    }

    &-red i {
      color: #ff7066;
    }

    &-gray i {
      color: #8b8b8b;
    }

    &-blue i {
      color: #246fe0;
    }

    &-green i {
      color: #25b84c;
    }
  }
}
