<header class="header">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-between">
      <div class="col-auto">
        <div class="row align-items-center gx-1">
          <div class="col-auto">
            <button nzType="text" nz-button (click)="toggleVisibleSidebar()">
              <i nz-icon>
                <svg>
                  <use xlink:href="/assets/sprites.svg#bar"></use>
                </svg>
              </i>
            </button>
          </div>
          <div class="col-auto">
            <button nzType="text" nz-button [routerLink]="['/tasks']">
              <i nz-icon>
                <svg>
                  <use xlink:href="/assets/sprites.svg#home"></use>
                </svg>
              </i>
            </button>
          </div>
          <div class="col-auto d-none d-md-block ps-2">
            <app-search-task></app-search-task>
          </div>
        </div>
      </div>
      <div class="col-auto">
        {{ realTime$ | async | date: "dd MMMM yyyy, HH:ss" }}
      </div>
      <div class="col-auto">
        <div class="row align-items-center gx-1">
          <div class="col-auto">
            <button nz-button nzType="text" (click)="openModal()">
              <i nz-icon>
                <svg>
                  <use xlink:href="/assets/sprites.svg#plus"></use>
                </svg>
              </i>
            </button>
          </div>
          <div class="col-auto ps-2">
            <nz-avatar
              [routerLink]="['/authorization']"
              nzIcon="user"
            ></nz-avatar>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<aside>
  <nz-drawer
    [nzClosable]="false"
    nzPlacement="left"
    nzWidth="276px"
    [(nzVisible)]="sidebarVisible"
    (nzOnClose)="toggleVisibleSidebar()"
  >
    <ng-container *nzDrawerContent>
      <ul class="list">
        <li>
          <button
            nz-button
            nzType="text"
            [routerLink]="['/tasks']"
            style="justify-content: flex-start"
            (click)="toggleVisibleSidebar(false)"
          >
            <i nz-icon style="color: #246fe0; font-size: 18px">
              <svg>
                <use xlink:href="/assets/sprites.svg#inbox"></use>
              </svg>
            </i>
            Входящие
          </button>
        </li>
        <li>
          <button
            nz-button
            nzType="text"
            [routerLink]="['/tasks']"
            style="justify-content: flex-start"
            [queryParams]="{ deadline: 'Today' }"
            (click)="toggleVisibleSidebar(false)"
          >
            <i
              nz-icon
              style="color: #24e06c; position: relative; font-size: 18px"
            >
              <svg>
                <use xlink:href="/assets/sprites.svg#calendar"></use>
              </svg>
              <span class="today-ico">{{ today }}</span>
            </i>
            Сегодня
          </button>
        </li>
        <li>
          <button
            nz-button
            nzType="text"
            [routerLink]="['/tasks']"
            style="justify-content: flex-start"
            [queryParams]="{ deadline: 'Upcoming' }"
            (click)="toggleVisibleSidebar(false)"
          >
            <i nz-icon style="color: #ff7066; font-size: 18px">
              <svg>
                <use xlink:href="/assets/sprites.svg#calendar-plus"></use>
              </svg>
            </i>
            Предстоящие
          </button>
        </li>
        <li>
          <button
            nz-button
            nzType="text"
            style="justify-content: flex-start"
            (click)="toggleVisibleSidebar(false)"
          >
            <i nz-icon style="color: #ff7066; font-size: 18px">
              <svg>
                <use xlink:href="/assets/sprites.svg#plus"></use>
              </svg>
            </i>
            Добавить раздел
          </button>
        </li>
      </ul>
    </ng-container>
  </nz-drawer>
</aside>

<main class="container">
  <router-outlet></router-outlet>
</main>
