<header class="header">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-between">
      <div class="col-auto">
        <div class="row align-items-center gx-1">
          <div class="col-auto">
            <button nzType="text" nz-button (click)="toggleVisibleSidebar()">
              <i nz-icon nzType="menu" nzTheme="outline"></i>
            </button>
          </div>
          <div class="col-auto">
            <button nzType="text" nz-button>
              <i nz-icon nzType="home" nzTheme="outline"></i>
            </button>
          </div>
          <div class="col-auto d-none d-md-block ps-2">
            <app-search-task></app-search-task>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <div class="row align-items-center gx-1">
          <div class="col-auto">
            <button nz-button nzType="text" (click)="openModal()">
              <i nz-icon nzType="plus" nzTheme="outline"></i>
            </button>
          </div>
          <div class="col-auto ps-2">
            <nz-avatar
              [routerLink]="['/authorization']"
              nzIcon="user"
            ></nz-avatar>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<aside>
  <nz-drawer
    [nzClosable]="false"
    nzPlacement="left"
    nzWidth="276px"
    [(nzVisible)]="sidebarVisible"
    (nzOnClose)="toggleVisibleSidebar()"
  >
    <ng-container *nzDrawerContent>
      <ul class="list">
        <li>
          <button
            nz-button
            [routerLink]="['/tasks']"
            style="justify-content: space-between"
            (click)="toggleVisibleSidebar(false)"
          >
            <i
              nz-icon
              nzType="inbox"
              nzTheme="outline"
              style="color: #246fe0; font-size: 16px"
            ></i>
            Список задач
          </button>
        </li>
        <li>
          <button
            nz-button
            [routerLink]="['/tasks']"
            style="justify-content: space-between"
            [queryParams]="{ deadline: 'Today' }"
            (click)="toggleVisibleSidebar(false)"
          >
            <i
              nz-icon
              nzType="calendar"
              nzTheme="outline"
              style="color: #24e06c; font-size: 14px"
            ></i>
            Сегодня
          </button>
        </li>
      </ul>
    </ng-container>
  </nz-drawer>
</aside>

<main class="container">
  <router-outlet></router-outlet>
</main>
