<header class="header">
  <div class="container-fluid">
    <div class="row header-row">
      <div class="col-auto">
        <div class="row">
          <div class="col-auto">
            <nz-button-group>
              <button
                nz-button
                icon-svg
                nzType="text"
                (click)="setSidebarVisible(!sidebarVisible)"
              >
                <app-svg svg="bar"></app-svg>
              </button>
              <a nz-button icon-svg nzType="text" routerLink="/">
                <app-svg svg="home"></app-svg>
              </a>
            </nz-button-group>
          </div>
          <div class="col-auto">
            <app-search-task></app-search-task>
          </div>
        </div>
      </div>
      <div class="col-auto">
        {{ realTime$ | async | date: "dd MMMM yyyy, HH:mm:ss" }}
      </div>
      <div class="col-auto">
        <button nz-button icon-svg nzType="text" (click)="openModal()">
          <app-svg svg="plus"></app-svg>
        </button>
      </div>
    </div>
  </div>
</header>

<aside>
  <nz-drawer
    nzWidth="276px"
    nzPlacement="left"
    [nzClosable]="false"
    [(nzVisible)]="sidebarVisible"
    (nzOnClose)="setSidebarVisible(false)"
  >
    <ng-container *nzDrawerContent>
      <ul class="list">
        <li *ngFor="let item of menu">
          <button
            nz-button
            nzType="text"
            [routerLink]="item.routerLink"
            [queryParams]="item.queryParams"
            (click)="setSidebarVisible(false)"
          >
            <span>
              <app-svg
                fontSize="19px"
                [svg]="item.icon.svg"
                [color]="item.icon.color"
              ></app-svg>
              <span
                class="icon-value"
                *ngIf="item.icon?.label"
                [ngStyle]="{ color: item.icon.color }"
              >
                {{ item.icon.label }}
              </span>
            </span>
            {{ item.label }}
          </button>
        </li>
      </ul>
    </ng-container>
  </nz-drawer>
</aside>

<main class="container">
  <router-outlet></router-outlet>
</main>
