.header {
  padding: 5px 0;
  background: #262626;
  position: relative;
  z-index: 1211;
  box-shadow: 0 0 2px #000;
}

.list {
  padding: 40px 0;
  margin: 0;
  list-style-type: none;

  li {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  button {
    width: 100%;
    text-align: left;
  }
}

.today-ico {
  font-size: 7px;
  position: absolute;
  left: 50%;
  top: calc(50% + 3px);
  transform: translate(-50%, -50%);
}
