.list-wrapper {
  padding-top: 50px;
  max-width: 600px;
  margin: 0 auto;

  .list {
    padding: 0;
    list-style-type: none;

    li {
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #5c5b5b;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
        border-bottom: none;
      }
    }
  }
}
