<div class="list-wrapper" *ngIf="taskState$ | async as taskState">
  <ng-container *ngIf="!taskState.total && !adding; else list">
    <nz-empty [nzNotFoundContent]="emptyRef">
      <ng-template #emptyRef>
        <span>У вас ещё нет задач</span>
      </ng-template>
    </nz-empty>
  </ng-container>

  <ng-template #list>
    <ul class="list">
      <li *ngFor="let task of taskState.tasks">
        <app-task [task]="task"></app-task>
      </li>
    </ul>
  </ng-template>

  <div *ngIf="adding; else btn">
    <app-edit-task (approve)="setAdding(false)" *ngIf="adding"></app-edit-task>
  </div>

  <ng-template #btn>
    <nz-divider></nz-divider>
    <button nz-button (click)="setAdding(true)">
      <i nz-icon nzType="plus" nzTheme="outline" style="color: #ff7066"></i>
      Добавить задачу
    </button>
  </ng-template>
</div>
